<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoiceVersa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="text-input">
                <textarea class="from-text" id="transcription" placeholder="Enter text" onkeydown="checkEnterKey(event)"></textarea>
                <textarea class="to-text" id="translation" placeholder="Translation" readonly disabled></textarea>
            </div>
            <ul class="controls">
                <li class="row from">
                    <div class="icons">
                        <i class="fas fa-microphone" onclick="toggleTranscription()"></i>
                        <i class="fas fa-copy" onclick="copyText('transcription')"></i>
                    </div>
                    <select id="source-lang">
                        <option value="">&#40;Auto Detect&#41;</option>
                        {% for code, name in languages %}
                            <option value="{{ code }}"> {{ name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="exchange" onclick="exchangeLanguages()"><i class="fas fa-exchange-alt"></i></li>
                <li class="row to">
                    <select id="target-lang">
                        {% for code, name in languages %}
                            <option value="{{ code }}"> {{ name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                    <div class="icons">
                        <i class="fas fa-volume-up" onclick="speakText()"></i>
                        <i class="fas fa-copy" onclick="copyText('translation')"></i>
                    </div>
                </li>
            </ul>
        </div>
        <button onclick="displayTranslation()">Translate Text</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        /*
        var socket = io.connect('http://127.0.0.1:500');

        socket.on('update_transcription', function(data) {
            document.getElementById('transcriptionDisplay').innerHTML += data.transcription + '<br>';
        });

        socket.on('transcription_error', function(data) {
            alert('Error: ' + data.error);
        });

        function startTranscription() {
            socket.emit('start_transcription');
        }
        */


    </script>
</body>
</html>
