<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="text-input">
                <textarea class="from-text" id="transcription" placeholder="Enter text"></textarea>
                <textarea class="to-text" id="translation" placeholder="Translation" readonly disabled></textarea>
            </div>
            <ul class="controls">
                <li class="row from">
                    <div class="icons">
                        <i class="fas fa-microphone"></i>
                        <i class="fas fa-copy" onclick="copyText('transcription')"></i>
                    </div>
                    <select id="source-lang">
                        {% for code, name in languages %}
                            <option value="{{ code }}"> {{ name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="exchange" onclick="exchangeLanguages()"><i class="fas fa-exchange-alt"></i></li>
                <li class="row to">
                    <select id="target-lang">
                        {% for code, name in languages %}
                            <option value="{{ code }}"> {{ name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                    <div class="icons">
                        <i class="fas fa-copy" onclick="copyText('translation')"></i>
                    </div>
                </li>
            </ul>
        </div>
        <button onclick="displayTranslation()">Translate Text</button>
    </div>
    <script>
        // Function to exchange source and target languages
        function exchangeLanguages() {
            var sourceLang = document.getElementById('source-lang').value;
            var targetLang = document.getElementById('target-lang').value;

            document.getElementById('source-lang').value = targetLang;
            document.getElementById('target-lang').value = sourceLang;
        }

        // Function to translate text
        function displayTranslation() {
            var sourceText = document.getElementById('transcription').value;
            var sourceLang = document.getElementById('source-lang').value;
            var targetLang = document.getElementById('target-lang').value;

            getTranslation(sourceText, sourceLang, targetLang)
            .then(translation => {
                document.getElementById('translation').value = translation;
            })
            .catch(error => {
                console.error('Translation error:', error);
            });
        }

        // Function to perform translation on the server
        function getTranslation(sourceText, sourceLang, targetLang) {
            return fetch('/translate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ text: sourceText, source: sourceLang, target: targetLang }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    throw new Error(data.error);
                }
                return data.translation;
            })
            .catch(error => {
                console.error('Translation error:', error);
                throw error;
            });
        }

        // Function to copy text to clipboard using Clipboard API
        function copyText(id) {
            var textArea = id == 'transcription' ? document.getElementById('transcription') : document.getElementById('translation')
            var textToCopy = textArea.value;

            navigator.clipboard.writeText(textToCopy)
                .then(() => {
                    console.log('Text successfully copied to clipboard');
                })
                .catch(err => {
                    console.error('Unable to copy text to clipboard', err);
                });
        }

    </script>
</body>
</html>
